.large-section{
    background-color: #0F044C;

}

.display-container{
    border-radius: 10px;
}

.input-box{
    border-radius: 10px;

}
.answer-box{
    border-radius: 10px;
}

/*/////////// input containers//////////*/

.input-container{
    background-color:#DA0037;
}

/*
.science-col, .arithmatic-col{
    

}
*/

/*///////Arithmatic section///////////*/
.arithmatic-col{
    padding: 0px !important;
}

.arithmatic-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    color: white;
}
.arithmatic-grid div{
    border:1px solid white;
    font-size: 3rem; 
    padding:0px;
}
/* /////// Button Edits ////////// */

.right-button{
    text-align: center;
    background-color: #171010;
    color: #A8FF3E;
}

.button1{
    background-color: #FFC107;
    color: white;
}

/* /////// Science Section////////// */
.science-col{
    padding: 0px !important;
}

.science-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    color: white;
}
.science-grid div{
    border:1px solid white;
    font-size: 3rem; 
    padding:0px;
}
.left-button{
    background-color: #6930C3;
}